<div class="h-screen flex flex-col">
  <div class="flex-1 overflow-hidden">
    <div *ngIf="loading$ | async" class="flex justify-center items-center h-64">
      <mat-spinner></mat-spinner>
    </div>

    <div class="p-4">
      <mat-form-field class="w-full">
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Search cryptocurrencies"
          #input
        />
        <button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" (click)="dataSource.filter = ''; input.value = ''">
            <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>
    </div>

    <mat-table
      [dataSource]="dataSource"
      matSort
      class="w-full bg-white shadow-lg rounded-lg overflow-y-auto h-full"
    >
      <ng-container matColumnDef="id">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-gray-100 font-bold"
          >ID</mat-header-cell
        >
        <mat-cell *matCellDef="let crypto">{{ crypto.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-gray-100 font-bold"
        >
          Name
        </mat-header-cell>
        <mat-cell *matCellDef="let crypto" class="py-4">
          {{ crypto.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-gray-100 font-bold"
        >
          Symbol
        </mat-header-cell>
        <mat-cell *matCellDef="let crypto" class="py-4">
          {{ crypto.symbol }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="current_price">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-gray-100 font-bold"
        >
          Price
        </mat-header-cell>
        <mat-cell *matCellDef="let crypto" class="py-4">
          {{ crypto.current_price | currency }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="market_cap">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-gray-100 font-bold"
        >
          Market Cap
        </mat-header-cell>
        <mat-cell *matCellDef="let crypto" class="py-4">
          {{
            crypto.market_cap > 1e9
              ? (crypto.market_cap / 1e9 | number : "1.0-2") + "B"
              : (crypto.market_cap / 1e6 | number : "1.0-2") + "M"
          }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="total_volume">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-gray-100 font-bold"
        >
          Total Volume
        </mat-header-cell>
        <mat-cell *matCellDef="let crypto" class="py-4">
          {{
            crypto.total_volume > 1e9
              ? (crypto.total_volume / 1e9 | number : "1.0-2") + "B"
              : (crypto.total_volume / 1e6 | number : "1.0-2") + "M"
          }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="high_24h">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-gray-100 font-bold"
          >24h High</mat-header-cell
        >
        <mat-cell *matCellDef="let crypto">{{
          crypto.high_24h | currency
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="low_24h">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-gray-100 font-bold"
          >24h Low</mat-header-cell
        >
        <mat-cell *matCellDef="let crypto">{{
          crypto.low_24h | currency
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="price_change_percentage_24h">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-gray-100 font-bold"
          >24h Change %</mat-header-cell
        >
        <mat-cell *matCellDef="let crypto">
          <span
            [ngClass]="{
              'text-green-500': crypto.price_change_percentage_24h > 0,
              'text-red-500': crypto.price_change_percentage_24h < 0
            }"
            class="flex items-center"
          >
            {{ crypto.price_change_percentage_24h > 0 ? "↑" : "↓" }}
            {{ crypto.price_change_percentage_24h | number : "1.2-2" }}%
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="circulating_supply">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-gray-100 font-bold"
          >Circulating Supply</mat-header-cell
        >
        <mat-cell *matCellDef="let crypto">{{
          crypto.circulating_supply | number : "1.0-0"
        }}</mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        [ngStyle]="{ display: (loading$ | async) ? 'none' : '' }"
        class="hover:bg-gray-50 transition-colors duration-150 ease-in-out"
      >
      </mat-row>
    </mat-table>
  </div>

  <div class="sticky bottom-0 w-full bg-white flex justify-center">
    <mat-paginator
      [length]="250"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)"
      aria-label="Select page"
      class="w-full"
    >
    </mat-paginator>
  </div>

  <div
    *ngIf="error$ | async as error"
    class="mt-4 p-4 bg-red-100 text-red-700 rounded-lg"
  >
    {{ error | json }}
  </div>
</div>
